.container {
    display: flex;
    flex-direction: column;
}

.project {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
}

.left {
    flex: 1;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.img{
    width: 600px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

.right {
    flex: 1;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.heading {
    color: var(--lightest-slate);
    font-family: var(--font-sans);
    font-size: var(--fz-heading);
    font-weight: 600;
    cursor: pointer;
}

.heading:hover {
    color: var(--green);
}

.desc {
    background-color: var(--light-navy);
    box-shadow: 0 10px 30px -15px var(--navy-shadow);
    color: var(--light-slate);
    font-family: var(--font-sans);
    line-height: 20px;
    font-size: var(--fz-md);
    padding: 20px;
    z-index: 2;
    width: 100%;
    border-radius: 5px;
}

.skill_container {
    font-size: var(--fz-sm);
    margin-bottom: 12px;
    display: flex;
}

.skill_container > p {
    margin: 0;
    margin-left: 12px;
}

.links_container {
    display: flex;
}

.link {
    cursor: pointer;
    margin-left: 20px;
}

.link:hover {
    color: var(--green);
}
@media screen and (max-width:600px ){
    .project {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px 0;
    }
    .img{
        width: 150px;
        height: 80px;
        object-fit: cover;
        border-radius: 5px;
    }
    .heading {
        color: var(--lightest-slate);
        font-family: var(--font-sans);
        font-size: 12px;
        font-weight: 600;
        cursor: pointer;
    }
    .desc {
        background-color: var(--light-navy);
        box-shadow: 0 10px 30px -15px var(--navy-shadow);
        color: var(--light-slate);
        font-family: var(--font-sans);
        line-height: 10px;
        font-size: 8px;
        padding: 5px 5px 5px 0px ;
        z-index: 2;
        width: 100%;
        border-radius: 5px;
    }
    .skill_container {
        font-size: 8px;
        margin-bottom: 12px;
        display: flex;
    }
    .link > svg {
        color: var(--green);
        width: 15px;
        height: 15px;
        margin-right: 0px;
    }
}