.container{
    display: flex;
    align-items: baseline;
    margin-bottom: 10px;
    max-width: 700px;
    padding-top: 50px;
}

.index {
    font-size: var(--fz-xxl);
    font-weight: 400;
    color: rgba(100,255,218,.1);
}

.heading {
    font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    font-size: var(--fz-heading);
    color: var(--lightest-slate);
    font-weight: 600;
    margin-left: 15px;
}

.line {
    flex-grow: 1;
    height: 1px;
    background: var(--lightest-navy);
    align-self: center;
    margin-left: 15px;
}
@media screen and (max-width:600px ){
    .container{
        display: flex;
        align-items: baseline;
        margin-bottom: 5px;
        max-width: 350px;
        padding-top: 20px;
    }
    .index {
        font-size: 14px;
        font-weight: 300;
        color: rgba(100,255,218,.1);
    }
    .heading {
        font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
        font-size: 20px;
        color: var(--lightest-slate);
        font-weight: 600;
        margin-left: 15px;
    }
}