.footer_container {
    display: flex;
    justify-content: center;
    height: 50;
}

.text {
    font-size: var(--fz-md);
    color: var(--light-slate);
    font-weight: 500;
}
@media screen and (max-width:600px ){
    .text {
        font-size: 12px;
        color: var(--light-slate);
        font-weight: 500;
    }
    .footer_container {
        display: flex;
        justify-content: center;
        height: 50;
    }
}
